
  <!-- <app-registeration></app-registeration>   -->
    <!-- <app-login></app-login>    -->
    <!-- <app-home></app-home>   -->
   <!-- <div>
   <div><h1>PROJECT MANAGEMENT</h1></div> -->
    <div class="menu">
    <h1>PROJECT MANAGEMENT</h1>
    <!-- <ul class="nav">
        <li><a routerLink="/" >Admin login</a></li>
        <li><a routerLink="/login" >Employee login</a></li>
        <li><a routerLink="/update" >update</a></li>
        <li><a routerLink="/about" >About Us</a></li>
        <li><a routerLink="/contact" >Contact Us</a></li>
    </ul> -->
   </div> 
<!-- </div> -->
 <router-outlet></router-outlet>
